ol {
  margin: 1rem;
}

li {
  margin: 1rem 0;
}

.text {
  padding-left: .5rem;
}

.date {
  font-weight: bold;
}

.author {
  font-style: italic;
}

.hashtags {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hashtags li {
  margin: 0 .5rem;
}
