h1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

li {
  margin: 0.5rem;
  padding: 0.5rem;
  background: #ddd;
}

.text {
  padding: 0.5rem;
}

.author {
  font-weight: bold;
}

.date {
  font-style: italic;
}

.fav {
  background: blue;
}
