h1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

body {
  background: #f1f1f1;
  margin: 2rem;
}

li {
  margin-bottom: 1rem;
  padding: 1rem;
  background: white;
}

#root {
  margin: 1rem 0;
}
